{%extends "base.html" %}

{% block main %}
<p>Here are some beers from our database</p>
<style>
.td_bgcolor td {
    background-color: #c99c3b
}

</style>

<table class="table table-bordered align-top">
    <thead>
        <tr>
            <th>Name</th>
            <th>Prices</th>
        </tr>
    </thead>
    <tbody>
        {% for beer in content[:20] %} 
            <tr {% if loop.index0 %2 == 1 %} class = "td_bgcolor" {% endif %}>
        
        <td>{{ beer.name }}</td>
        <td>{{ beer.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<p></p>
{% endblock %}